input::placeholder {
    font-size: 15px;
    color: $grey;
    font-weight: 400;
}

.input-text {
    width: 80%;
    font-size: 15px;
    color: $grey;
    font-weight: 600;
    border: none;
    margin-left: 5px;
}